@font-face {
  /* Font family name */
  font-family: 'latolight';

  /* Path to the WOFF file */
  src: url('fonts/Lato-Light.woff') format('woff');

  /* Optional: Font weight and style */
  font-weight: normal;
  font-style: normal;
}
*{
  position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}
}
body {
  font-family: latolight;
  margin: 0;
  padding: 0;
}
header {
  background-color: #161421;
  color: #F6D55C;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

h2 {
  color: black;
}

.event, .workshop {
  color: black;
  background-color:#f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: dark-grey;
}
.testimonial{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;	
  border-radius: 50px;
}
event_1{
  color: #f9f9f9;
  border-color: black;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
#calendar{
  table {
    width: 100%;
    table-layout: fixed;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=JetBrains+Mono:wght@300;400;500&family=Plus+Jakarta+Sans:wght@300;400;500&display=swap");

.page_grid__2WZXq {
	background-color: rgb(var(--background-primary));
	background-size: 10px 10px, 30px 30px;
	background-image: linear-gradient(to bottom, rgb(var(--background-primary)) 5px, transparent 5px), linear-gradient(to right, transparent 7px, rgb(var(--border-primary)) 7px, rgb(var(--border-primary)) 8px, transparent 8px), linear-gradient(to right, transparent 5px, rgb(var(--background-primary)) 5px), linear-gradient(to bottom, transparent 5px, rgb(var(--border-primary)) 5px, rgb(var(--border-primary)) 6px, transparent 6px);
	background-position: -5px 0
}

.page_gridInner__Dl26L {
	background-image: linear-gradient(to bottom, transparent 70%, rgba(var(--background-primary), .75) 100%)
}

.page_name__q92u5 {
	background: -webkit-linear-gradient(315deg, rgb(var(--text-accent-secondary)), rgb(var(--text-accent-primary)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.page_bolded__AjJig {
	font-weight: 500;
	color: rgb(var(--text-primary));
	background: -webkit-linear-gradient(225deg, rgb(var(--text-accent-secondary)), rgb(var(--text-accent-primary)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(var(--text-secondary), .25)
}

.page_slideFromLeft__fypOA>:not(.page_techIcons__pAAKH) {
	opacity: 0;
	animation: page_slideFromLeft__fypOA .75s forwards;
	animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

.page_slideFromLeft__fypOA>:first-child {
	animation-delay: .2s
}

.page_slideFromLeft__fypOA>:nth-child(2) {
	animation-delay: .4s
}

.page_slideFromLeft__fypOA>:nth-child(3) {
	animation-delay: .6s
}

.page_slideFromLeft__fypOA>:nth-child(4) {
	animation-delay: .8s
}

.page_techIcons__pAAKH>* {
	opacity: 0;
	animation: page_slideFromLeft__fypOA 1s forwards
}

.page_techIcons__pAAKH>:first-child {
	animation-delay: 1s
}

.page_techIcons__pAAKH>:nth-child(2) {
	animation-delay: 1.2s
}

.page_techIcon__cH1Um {
	opacity: 0;
	animation: page_slideFromLeft__fypOA .6s forwards;
	transition: .4s
}

.page_techIcon__cH1Um:first-child {
	animation-delay: 1.3s
}

.page_techIcon__cH1Um:nth-child(2) {
	animation-delay: 1.4s
}

.page_techIcon__cH1Um:nth-child(3) {
	animation-delay: 1.5s
}

.page_techIcon__cH1Um:nth-child(4) {
	animation-delay: 1.6s
}

.page_techIcon__cH1Um:nth-child(5) {
	animation-delay: 1.7s
}

.page_techIcon__cH1Um:nth-child(6) {
	animation-delay: 1.8s
}

.page_techIcon__cH1Um:nth-child(7) {
	animation-delay: 1.9s
}

.page_techIcon__cH1Um:nth-child(8) {
	animation-delay: 2s
}

.page_techIcon__cH1Um:nth-child(9) {
	animation-delay: 2.1s
}

@keyframes page_slideFromLeft__fypOA {
	0% {
		opacity: 0;
		transform: translate3d(-50px, 0, 0)
	}

	99% {
		opacity: 1;
		transform: translateZ(0)
	}

	to {
		opacity: unset
	}
}

.Header_header__nI5EN::-webkit-scrollbar {
	width: 6px
}

.Header_header__nI5EN::-webkit-scrollbar-thumb {
	position: absolute;
	background: var(--background-secondary);
	margin-right: 1px;
	border-radius: 2px;
	border-right: 2px solid var(--background-primary)
}

.Header_header__nI5EN::-webkit-scrollbar-track-piece {
	margin-right: 1px
}
